<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Traceabilit of Fair Trade
      </h1>
      <h2 class="title">
        Hello! you address is:  <span class="is-medium has-underline">{{account}}</span>
      </h2>
    </div>
  </div>
</section>
<br>
<div class="container">
  <h1 class="title">Send Tracking Information</h1>
  <h1 class="title is-4 is-info help">{{status}}</h1>

  <form #coinForm="ngForm">
    <div class="field">
      <label class="label">Id Product</label>
      <p class="control">
        <input
          [(ngModel)]="sendingProduct"
          class="input"
          type="text"
          placeholder=""
          name="sendingProduct"
          required
          #sendingAmountModel="ngModel">
        <button
          (click)="sendProduct()"
          class="button is-primary">
          Send Product
        </button>
      <div *ngIf="sendingAmountModel.errors && (sendingAmountModel.dirty || sendingAmountModel.touched)"
           class="help is-danger">
          <p [hidden]="!sendingAmountModel.errors.required">
            This field is required
          </p>
      </div>
      <div *ngIf="!sendingAmountModel.errors && (sendingAmountModel.dirty || sendingAmountModel.touched)"
           class="help is-danger">
          <p [hidden]="canBeNumber(sendingProduct)">
            Must be a number
          </p>
      </div>
    </div>
    <div class="field">
      <label class="label">State</label>
      <p class="control">
        <input
          [(ngModel)]="state"
          name="state"
          class="input"
          type="text"
          placeholder=""
          name="recipientAddress"
          required
          #recipientAddressModel="ngModel"
        >
      </p>
      <div *ngIf="recipientAddressModel.errors && (recipientAddressModel.dirty || recipientAddressModel.touched)"
           class="help is-danger">
          <p [hidden]="!recipientAddressModel.errors.required">
            This field is required
          </p>
      </div>
      <div *ngIf="!recipientAddressModel.errors && (recipientAddressModel.dirty || recipientAddressModel.touched)"
           class="help is-danger">
          <p [hidden]="canBeNumber(state)">
            Must be a number
          </p>
      </div>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button
        [disabled]="!coinForm.valid"
        (click)="sendCoin()"
        class="button is-primary">
        Done
      </button>
        <button
          [disabled]="!coinForm.valid"
          (click)="sendCoin()"
          class="button is-primary">
          Validate
        </button>
      </p>
    </div>
  </form>

</div>
